<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Soccer_Website</title>
    <link rel="stylesheet" type="text/css" href="/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">Soccer_Website</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/teams">All Teams</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="/players">All Players</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <% if(currentUser) { %>
                            Signed In as <%- currentUser.username  %>
                        <% } else { %>
                            Authentication
                        <% }%>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <% if(currentUser) { %>
                            <a class="dropdown-item" href="/logout">Log Out</a>
                        <% } else { %>
                            <a class="dropdown-item" href="/login">Log In</a>
                            <div><a class="dropdown-item" href="/register">Sign Up</a></div>
                        <% }%>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
    <% if(error && error.length > 0){ %>
    <div class="alert alert-danger" role="alert">
        <%= error %>
    </div>
    <% } %>
    <% if(success && success.length > 0){ %>
    <div class="alert alert-success" role="alert">
        <%= success %>
    </div>
    <% } %>


