<%- include("./partials/header") %>
<img src="https://www.kindpng.com/picc/m/95-959002_transparent-funny-faces-clipart-zlatan-ibrahimovic-cartoon-png.png">
<h1>Either You did something you shouldn't do OR I made some stupid mistakes</h1>
<%- include("./partials/footer") %>