<%- include("partials/header") %>
<div class="container">
    <header class="jumbotron">
        <div class="container">
            <h1>This is the home page</h1>

            <p>This website is built with MongdoDB, Express, Node.js <br>
                It features CRUD using RESTful routes, Authentication, Authorization, and Data Association</p>
        </div>
    </header>
</div>
<%- include("partials/footer") %>