<%- include("./partials/header") %>
<h1>Log In</h1>

<form action="/login" method="post">
    <input type="text" name="username" placeholder="username">
    <input type="password" name="password" placeholder="password">
    <button>LogIn</button>
</form>
<div>
    <a href="/register" class="btn btn-primary btn-large" style="margin-top: 1em">Sign Up</a>
</div>
<%- include("./partials/footer") %>